---
component: Badges
analytics:
  pageCategory: component
  component: badge
design: https://design.atlassian.com/latest/product/components/badges/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-badge
  amd: false
  experimentalSince: 5.0
  generalSince: 5.1
  webComponentSince: 5.9
---

<h2>Summary</h2>
<p>Badges provide quick visual identification for <strong>numeric values</strong> such as tallies and other quantities. They are not used for anything other than integers. For statuses, use Lozenges. To call out tags or other high-visibility attributes, use Labels.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<article class="aui-flatpack-example">
    <aui-badge>1</aui-badge>
    <aui-badge class="aui-badge-primary">10</aui-badge>
    <aui-badge>815</aui-badge>
    <aui-badge>50</aui-badge>
    <aui-badge class="aui-badge-primary">30+</aui-badge>
</article>

<h2>Code</h2>
<h3>HTML</h3>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-badge>19</aui-badge>
    </noscript>
</aui-docs-example>

<h2>Options</h2>
<table class="aui">
    <thead>
    <tr>
        <th>Badge type</th>
        <th>Badge type class</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Default</td>
        <td>(no type class)</td>
    </tr>
    <tr>
        <td>Primary</td>
        <td><code>aui-badge-primary</code></td>
    </tr>
    </tbody>
</table>

<h3>Variations</h3>
<p>
    Use the primary badge when the number is the more important or prominent piece of data than
    its label or description.
</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <p><aui-badge class="aui-badge-primary">42</aui-badge> people following this issue.</p>
    </noscript>
</aui-docs-example>

<h3>HTML <span class="aui-lozenge aui-lozenge-error">deprecated</span></h3>
The use of <code>aui-badge</code> class will be deprecated. Use the web component API instead.
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-badge">19</span>
    </noscript>
</aui-docs-example>

<h3>Soy <span class="aui-lozenge aui-lozenge-error">deprecated</span></h3>
<noscript is="aui-docs-code" type="text/handlebars">
  {call aui.badges.badge}
    {param text: '19' /}
  {/call}
</noscript>
