---
title: Banner example
layout: example-iframe-layout.hbs
---

        <div class="aui-flatpack-example banner-example">
            <header id="header" role="banner">
                <!-- App Header goes inside #header -->
                {{> example-appheader }}
                <!-- App Header goes inside #header -->
            </header>
        </div>
        <script>
            AJS.$(document).ready(function () {
                require(['aui/banner'], function (banner) {
                    banner({
                        body: 'Your <strong>license has expired!</strong> There are two days left to <a href="#">renew your license</a>.'
                    });
                });
            });
        </script>
