@import '../theme';

@aui-avatar-size-xxxlarge: 128px;
@aui-avatar-size-xxlarge: 96px;
@aui-avatar-size-xlarge: 64px;
@aui-avatar-size-large: 48px;
@aui-avatar-size-medium: 32px;
@aui-avatar-size-small: 24px;
@aui-avatar-size-xsmall: 16px;

@aui-avatar-border-radius-ratio: (1 / 16);
