<aui-dropdown-menu id="{{id}}">
    <aui-section label="Stable versions">
        <div id="stable-versions-dropdown">
            {{#each versions}}
                {{#unless @index}}
                    <aui-item-link href="/aui/{{ this }}">
                        {{ this }}
                        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">Latest</span>
                    </aui-item-link>
                {{else}}
                    <aui-item-link href="/aui/{{ this }}">{{ this }}</aui-item-link>
                {{/unless}}
            {{/each}}
        </div>
    </aui-section>

    <aui-section>
        <aui-item-link href="/aui/archive.html">Older versions</aui-item-link>
    </aui-section>

    <aui-section>
        <aui-item-link href="https://bitbucket.org/atlassian/aui/src/{{ version }}/CHANGELOG.md">Changelog</aui-item-link>
    </aui-section>
</aui-dropdown-menu>
